.landing-background-container {
  background-image: url("../../images/bursts.svg");
  background-color: rgb(41, 65, 171);
  background-size: 190%;
  background-position: 45% 15%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  /* min-height: 846px; */
  text-align: center;
  color: #1ed760;

  padding: 200px;
}

.landing-title-start h1,
.landing-title-end h1,
.landing-title-watch h1 {
  font-size: 100px;
  margin: 0;
  width: 900px;
  line-height: 100px;
}

.landing-title-start {
  text-align: left;
}

.landing-title-end {
  text-align: right;
}

.landing-title-watch {
  color: yellow;
}

.landing-title-and {
  color: #1ed760;
}

.landing-subheader {
  font-weight: 600;
  margin: 40px;
}

.landing-demo {
  height: 65px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0;
}

.landing-demo button {
  background: #1ed760;
  border: none;
  height: 50px;
  width: 220px;
  border-radius: 30px;
  color: rgb(41, 65, 171);
  font-weight: 700;
}

.landing-demo button:hover {
  background:#32e972;
  font-size: 14px;
  height: 55px;
  width: 226px;
  border-radius: 40px;
}
