.ab-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 170px;
  width: 170px;
  border-radius: 50%;
  overflow: hidden;
}

.ab-image-container img {
  max-height: 100%;
  object-fit: scale-down;
  margin: auto;
  display: block;
}

.plb-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.plb-name-title {
  font-size: 14.5px;
  font-weight: 600;
  margin: 20px 0 5px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
