/* TODO Add site wide styles */
body {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  margin: 0;
  background-color: rgb(15, 15, 15);
  color: white;
  overscroll-behavior-y: none;
}

#root {
  position: relative;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: white;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 300;
  height: 100px;
  background-color: rgb(20, 20, 20);
  border-top: thin solid rgba(255, 255, 255, .13);
  display: flex;
  justify-content: center;
}

button:focus {
  outline: none;
}

button {
  font-family: 'Montserrat', sans-serif;
}

/* Works on Firefox */
* {
  scrollbar-width: 5px;
  scrollbar-color:black rgb(190, 190, 190);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: black;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(190, 190, 190);
  border-radius: 20px;
  border: none;
}

.confirmed-popup {
  position: fixed;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.747);
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px 20px 20px;
  width: 90px;
  border-radius: 8px;
  text-align: center;
}

.fas.fa-check-circle.confirmed {
  color: #1ed760;
  font-size: 20px;
}

.fade-out {
  animation: fadeOut ease 2s;
  -webkit-animation: fadeOut ease 2s;
  -moz-animation: fadeOut ease 2s;
  -o-animation: fadeOut ease 2s;
  -ms-animation: fadeOut ease 2s;
}
@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}
