/* TODO Add site wide styles */
body {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  margin: 0;
  background-color: rgb(15, 15, 15);
  color: white;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: white;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 300;
  height: 100px;
  background-color: rgb(20, 20, 20);
  border-top: thin solid rgba(255, 255, 255, .13);
  display: flex;
  justify-content: center;
}

button:focus {
  outline: none;
}

button {
  font-family: 'Montserrat', sans-serif;
}
