/* TODO Add site wide styles */
body {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  margin: 0;
  background-color: rgb(15, 15, 15);
  color: white;
  overscroll-behavior-y: none;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: white;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 300;
  height: 100px;
  background-color: rgb(20, 20, 20);
  border-top: thin solid rgba(255, 255, 255, .13);
  display: flex;
  justify-content: center;
}

button:focus {
  outline: none;
}

button {
  font-family: 'Montserrat', sans-serif;
}

/* Works on Firefox */
* {
  scrollbar-width: 5px;
  scrollbar-color:black rgb(190, 190, 190);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: black;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(190, 190, 190);
  border-radius: 20px;
  border: none;
}
