.ad-container {
  position: relative;
  padding-left: 230px;
  padding-bottom: 30px;
  max-height: 800px;
  color: white;
}

.ad-header {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 200px 10px 235px 40px;
  background-size: cover;
}

.ad-header-top {
  display: flex;
  align-items: center;
  font-size: 14px;
  text-shadow: 1px 1px 10px rgba(0, 0, 0);
}

.ad-header-top img {
  height: 40px;
}

.ad-header-name h1 {
  margin: 0;
  font-size: 80px;
  text-shadow: 1px 6px 30px rgba(0, 0, 0, 0.88);
}

.ad-header-total-plays p {
  text-shadow: 1px 1px 10px rgba(0, 0, 0);
  font-weight: 400;
  margin-left: 5px;
}

.ad-bio {
  font-size: 14px;
  color: rgb(218, 218, 218);
}

.ad-bio h2 {
  /* border-top: thin solid rgb(39, 39, 39); */
  padding-top: 30px;
}

.open-close-text {
  background: none;
  color: white;
  border: none;
  text-decoration: underline;
  padding: 0 0 0 5px;
  font-size: 14px;
  color: rgb(172, 172, 172);
}
