

.nav-browser {
  /* padding-left: 270px; */
  position: fixed;
  display: flex;
  align-items: center;
  left: 230px;
  width: 100%;
  /* top: 30px; */
}

.plbrow-container {
  padding: 0 0 150px 250px;
  margin-top: 100px;
}

.plb-container {
  display: flex;
  flex-wrap: wrap;
}
