.pl-page-container {
  position: relative;
  padding-left: 230px;
  padding-bottom: 30px;
  max-height: 800px;
}

.pl-image,
.pl-image img {
  width: 130px;
  height: 130px;
}

.pl-header-container {
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 120px 10px 235px 40px;
  /* height: auto; */
}

.pl-header-image-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  width: 260px;
  height: 260px;
  box-shadow: 0px 0px 200px rgba(0, 0, 0, .5);
}

.pl-image.placeholder img {
  height: 260px;
  width: 260px;
}

.pl-image.placeholder {
  margin-right: 25px;
  height: 260px;
  width: 260px;
}

.pl-header-details-container {
  margin: 0 0 0 30px;
}

.pl-header-name {
  font-size: 50px;
}

.pl-header-name h2 {
  margin: 0;
}

.pl-header-playlist {
  font-size: 14px;
  font-weight: 500;
  margin-left: 3px;
}

.pl-subheader {
  display: flex;
  align-items: center;
  margin-left: 3px;
}

.pl-user-name p {
  margin: 0;
}

.pl-num-songs p {
  margin: 4px;
}

.pl-bottom-container {
  position: relative;
  top: -200px;
  padding: 40px 40px 160px 40px;
  min-height: 220px;
  background: rgb(15, 15, 15);
  background: linear-gradient(0deg, rgba(15, 15, 15, 1) 71%, rgba(15, 15, 15, 0.8) 87%, rgba(15, 15, 15, 0.6) 95%, rgba(15, 15, 15,0.4) 100%);
}

.pl-bottom-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.pl-bottom-header-left {
  position: relative;
  display: flex;
  align-items: center;
}

.pl-play,
.pl-pause {
  background: #1ed760;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: none;
  outline: none;
}

i.pl.fas.fa-pause,
i.pl.fas.fa-play {
  color: white;
  font-size: 20px;
}

.pl-like-button {
  font-size: 30px;
  margin: 0 50px;
}

.pl.fas.fa-ellipsis-h {
  font-size: 20px;
}

.pl-table-header {
  margin: 20px 0;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(9, 1fr);
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  color:rgb(189, 189, 189);
  border-bottom: thin solid rgb(39, 39, 39);

}

.pl-header-num-title-container {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 2;
  justify-content: flex-start;
  padding-left: 18px;
  width: 100px;
}

.pl-header-track-num {
  margin-right: 25px;
}

.pl-header-album {
  grid-column-start: 5;
  grid-column-end: 6;
}

.pl-header-vid {
  text-align: center;
  grid-column-start: 7;
  grid-column-end: 8;
}

.pl-header-time {
  display: flex;
  justify-content: flex-start;
  margin-left: 15px;
  grid-column-start: 9;
  grid-column-end: 10;
}

.playing {
  border-radius: 8px;
}

.tracks-container {
  border-radius: 8px;
}

.track-draggable {
  cursor: move;
  border-radius: 8px;
}

.pl-menu-box {
  position: absolute;
  right: -140px;
  bottom: -120px;
  display: flex;
  flex-direction: column;
  height: 152px;
  width: 130px;
  background-color: rgb(36, 36, 36);
  border-radius: 4px;
}

.pl-edit-cancel-container {
  position: absolute;
  right: -140px;
  bottom: -70px;
  display: flex;
  flex-direction: column;
  width: 130px;
  background-color: rgb(36, 36, 36);
  border-radius: 4px;
}

.pl-add-songs-button button,
.pl-edit-button button,
.pl-delete-button button,
.pl-edit-confirm-button button,
.pl-edit-cancel-button button {
  background: none;
  border: none;
  color: rgb(238, 238, 238);
  font-family: 'Montserrat', sans-serif;
  font-size: 12.5px;
  font-weight: 500;
  width: 122px;
  text-align: left;
  height: 42px;
  align-content: center;
  margin: 4px 0;
}

.pl-add-songs-button,
.pl-edit-button,
.pl-edit-confirm-button {
  border-bottom: thin solid rgba(133, 133, 133, .4)
}

.pl-add-songs-button,
.pl-edit-button,
.pl-delete-button,
.pl-edit-confirm-button,
.pl-edit-cancel-button {
  margin: 0 4px;
}

.pl-add-songs-button button:hover,
.pl-edit-button button:hover,
.pl-delete-button button:hover,
.pl-edit-confirm-button button:hover,
.pl-edit-cancel-button button:hover {
  background-color: rgb(44, 44, 44);
}
