.pl-page-container {
  position: relative;
  padding-left: 250px;
  padding-bottom: 30px;
}


.pl-image,
.pl-image img {
  width: 130px;
  height: 130px;
}

.pl-header-container {
  display: flex;
  align-items: flex-end;

  padding: 150px 10px 250px 40px;
}

.pl-header-image-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  width: 260px;
  height: 260px;
  box-shadow: 0px 0px 200px rgba(0, 0, 0, .5);
}

.pl-header-details-container {
  margin: 0 0 0 30px;
}

.pl-header-name {
  font-size: 50px;
}

.pl-header-name h2 {
  margin: 0;
}

.pl-header-playlist {
  font-size: 14px;
  font-weight: 500;
}

.pl-subheader {
  display: flex;
  align-items: center;
}

.pl-user-name p {
  margin: 0;
}

.pl-num-songs p {
  margin: 4px;
}

.pl-bottom-container {
  position: relative;
  top: -200px;

  padding: 40px 40px 0 40px;
  margin-bottom: 20px;
  background: rgb(15, 15, 15);
  background: linear-gradient(0deg, rgba(15, 15, 15, 1) 71%, rgba(15, 15, 15, 0.8) 87%, rgba(15, 15, 15, 0.6) 95%, rgba(15, 15, 15,0.4) 100%);
}

.pl-bottom-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pl-bottom-header-left {
  position: relative;
  display: flex;
  align-items: center;
}

.pl-play,
.pl-pause {
  background: #1db954;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: none;
  outline: none;
}

i.pl.fas.fa-pause,
i.pl.fas.fa-play {
  color: white;
  font-size: 20px;
}

.pl.fas.fa-heart {
  font-size: 30px;
  margin: 0 50px;
}

.pl.fas.fa-ellipsis-h {
  font-size: 20px;
}

.pl-table-container {
  /* margin: 0 20px; */
  color:rgb(189, 189, 189)
}

.pl-table-header {
  margin: 20px 0;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(9, 1fr);
  align-items: center;
  font-size: 14px;
  border-bottom: thin solid rgb(39, 39, 39);

}

.pl-header-num-title-container {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 2;
  justify-content: flex-start;
  padding-left: 28px;
  width: 100px;
}

.pl-header-track-num {
  margin-right: 25px;
}

.pl-header-album {
  grid-column-start: 5;
  grid-column-end: 6;
}

.pl-header-vid {
  text-align: center;
  grid-column-start: 7;
  grid-column-end: 8;
}

.pl-header-time {
  display: flex;
  justify-content: center;
  grid-column-start: 9;
  grid-column-end: 10;
}

.pl-tracks-container {
  background-color: rgb(15, 15, 15)
}

.pl-track-container {
  background-color: rgb(15, 15, 15);
}

.pl-track-container-inner {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(9, 1fr);
  align-items: center;
  background-color: rgb(15, 15, 15);

}

.playing {
  background-color: rgb(32, 32, 32);
  border-radius: 8px;
}

.pl-track-container-inner:hover {
  background-color: rgb(32, 32, 32);
  border-radius: 8px;
}

.track-details-container {
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 28px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100px;
}

.track-title-artist-container {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
}

.track-img img {
  height: 50px;
  padding: 10px 10px 10px 25px;
}


.track-artists {
  font-size: 13px;
  display: flex;
  color: rgb(172, 172, 172)
}

.track-album {
  color: rgb(172, 172, 172);
  grid-column-start: 5;
  grid-column-end: 7;

}

.track-time {
  color:rgb(189, 189, 189)
}

.track-album p,
.track-title p,
.track-artists p {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.track-video {
  grid-column-start: 7;
  grid-column-end: 8;
  text-align: center;
}

button.track-video-button {
  background: #1db954;
  height: 40px;
  width: 80px;
  border: none;
  border-radius: 20px;
}

button.track-video-button:focus {
  outline: none;
}

.fa-video {
  color: white;
  font-size: 18px;
}

.track-time {
  display: flex;
  grid-column-start: 9;
  grid-column-end: 10;
  justify-content: center;
  /* margin-right: 30px; */
}

.pl-margin-bottom {
  height: 100px;
  background-color: rgb(15, 15, 15);
}

.pl-menu-box {
  position: absolute;
  right: -140px;
  bottom: -120px;
  display: flex;
  flex-direction: column;
  height: 140px;
  width: 130px;
  background-color: rgb(36, 36, 36);
  border-radius: 4px;

}


.pl-add-songs-button button,
.pl-edit-button button,
.pl-delete-button button {
  background: none;
  border: none;
  color: rgb(238, 238, 238);
  font-family: 'Montserrat', sans-serif;
  font-size: 12.5px;
  font-weight: 500;
  width: 125px;
  text-align: left;
  height: 42px;
  align-content: center;
  margin: 2px;
}

.pl-add-songs-button button,
.pl-edit-button button {
  border-bottom: thin solid rgba(133, 133, 133, .4)
}

.pl-add-songs-button button:hover,
.pl-edit-button button:hover,
.pl-delete-button button:hover {
  background-color: rgb(44, 44, 44);
}
