body {
  background-color: white;
}

.login-page {
  background: white;
  padding: 4% 0;

}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  background-color: white;
}

.login-container.signup {
  display: flex;
  padding: 190px 0 300px 0;
}

.signup-disclaimer {
  color: black;
  font-size: 12px;
  text-align: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
}

.login-logo {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 20px 0;
  width: 100%;
  border-bottom: thin solid rgba(0, 0, 0, .15);
  padding-bottom: 20px;
}

.landing-demo.signup button {
  color: black;
  width: 70%;
  font-size: 16px;
}

.landing-demo.signup button:hover {
  font-size: 17px;
  width: 73%;
}

.login-logo.signup {
  border: none;
  padding-bottom: 0;
}

.login-logo-title {
  display: flex;
  align-items: center;
}

.fab.fa-spotify.login {
  font-size: 60px;
}

.v.login,
.d.login {
  font-size: 40px;
}

.j.login {
  font-size: 60px;
}

.login-instructions {
  color: black;
  font-weight: 700;
}

.signup-instructions {
  color: black;
  font-size: 30px;
  font-weight: 700;
  width: 550px;
  text-align: center;
}

.signup-instructions p {
  margin: 10px 0 40px 0;
}

.login-fb-auth button,
.login-apple-auth button,
.login-google-auth button,
.login-no-account button {
  border: none;
  width: 450px;
  margin: 5px;
  height: 50px;
  font-weight: 700;
  letter-spacing: 1.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  transition: all 0.2s ease-in-out;
}

.login-fb-auth button {
  background: #3b5998;
  color: white;
}

.login-fb-auth button:hover {
  background: #3a61b3;
}

.login-apple-auth button {
  background: black;
  color: white;
}

.login-apple-auth button:hover {
  background: #333;
}

.login-google-auth button,
.login-no-account button {
  background: white;
  border: 2px solid #616467;
  color:rgba(0, 0, 0, 0.603)
}

.login-google-auth button:hover,
.login-no-account button:hover {
  background: #616467;
  color: white;
}

.fab.fa-facebook,
.fab.fa-apple,
.google-logo {
  margin-right: 12px;
  font-size: 20px;
}

.google-logo {
  height: 17px;
}

.login-or-separator {
  display: flex;
  align-items: center;
  height: 10px;
  margin-top: 20px;
}

.login-or {
  color: black;
  font-size: 12px;
  font-weight: 700;
}

.login-or-line {
  height: 1px;
  width: 195px;
  margin: 20px;
  background-color: rgb(218, 218, 218);
}

.login-form-errors {
  color: red;
}

.login-email,
.login-password {
  display: flex;
  flex-direction: column;
  color: black;
  width: 450px;
}

.login-email input,
.login-password input {
  border: thin solid rgba(0, 0, 0, .15);
  border-radius: none;
  padding: 12px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.login-email label,
.login-password label {
  font-weight: 600;
  font-size: 14.5px;
  margin: 14px 0 8px 0;
}

.login-forgot-password {
  color:rgb(110, 110, 110);
  font-weight: 600;
  font-size: 14.5px;
  text-decoration: underline;
}

.login-remember-button-container {
  color:rgb(110, 110, 110);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14.5px;
  padding-bottom: 20px;
  border-bottom: thin solid rgb(218, 218, 218);
}

.login-remember-container input {
  margin-right: 10px;

}

.login-submit button {
  background: #15883e;
  border: none;
  height: 45px;
  width: 200px;
  color: white;
  font-weight: 700;
  border-radius: 30px;
  transition: all 0.2s ease-in-out;
  letter-spacing: 1.5px;
}

.login-submit button:hover {
  /* background: #1ed760; */
  background: #1db954;
}

.login-no-account {
  color: black;
  font-weight: 800;
  text-align: center;
}

.already-have-account,
#to-login {
  color: black;
  display: flex;
  align-items: center;
}

#to-login {
  margin-left: 10px;
  color:rgb(78, 78, 78);
  font-weight: 600;
  text-decoration: underline;
}
