body {
  background-color: rgb(15, 15, 15);
}

.home-featured-video-container {
  z-index: -2;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: 230px;
}

.home-featured-detail-container {
  margin-left: 230px;
  padding: 40px;
  z-index: 100;
}

.home-featured-title {
  font-size: 40px;
}

.home-feature-watch-button {
  z-index: 104;
  margin-top: 20px;
}

.home-feature-watch-button button {
  background: #1ed760;
  border: none;
  height: 50px;
  width: 140px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  border-radius: 30px;
  color: white;
  font-weight: 600;
}

.home-bottom-container {
  position: absolute;
  top: -15em;
  width: 100%;
  padding-top: 400px;
  padding-bottom: 120px;
  background: rgb(15, 15, 15);
  background: linear-gradient(13deg, rgba(15, 15, 15, 1) 42%, rgba(15, 15, 15, 0.6) 65%, rgba(15, 15, 15, 0.2) 79%, rgba(15, 15, 15, 0) 87%);
}
