/* .home-container {
  position: relative;
  z-index: -100;
} */

.home-featured-video-container {
  position: relative;
  z-index: -2;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: 250px;
}

.home-featured-detail-container {
  position: absolute;
  /* width: 100%; */
  top: -200px;
  margin-left: 250px;
  background: rgb(15, 15, 15);
  background: linear-gradient(18deg, rgba(15, 15, 15, 1) 0%, rgba(15, 15, 15, 1) 17%, rgba(15, 15, 15, 0.7) 38%, rgba(15, 15, 15, 0) 100%);
  padding: 500px 10px 100px 20px;
  z-index: 100;
}

.home-featured-title {
  font-size: 30px;
}

.home-feature-watch-button {
  /* position: relative; */
  z-index: 104;
}
