.plb-image.placeholder img {
  height: 180px;
  width: 180px;
  border-radius: 4px;
}

.plb-image img,
.plb-image {
  height: 90px;
  width: 90px;
}

.plb-image.image-0 img {
  border-radius: 4px 0 0 0;
}

.plb-image.image-1 img {
  border-radius: 0 4px 0 0;
}

.plb-image.image-2 img {
  border-radius: 0 0 0 4px;
}

.plb-image.image-3 img {
  border-radius: 0 0 4px 0;
}

.plb-image-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  width: 180px;
  height: 180px;
  border-radius: 8px;
  box-shadow: 0px 0px 200px rgba(0, 0, 0, .5);
}

.plb-container-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  transition: all 0.2s ease-in-out;
  background-color: rgb(22, 22, 22);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  margin: 10px;
  height: 250px;
  max-width: 180px;
}

.plb-container-inner:hover {
  background-color: rgb(54, 54, 54);
  border-radius: 10px;
}

.plb-name p {
  font-size: 14.5px;
  font-weight: 600;
  margin: 20px 0 5px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 180px;
}

.plb-by p {
  font-size: 13px;
  color:rgb(172, 172, 172);
  font-weight: 500;
  margin: 0 0 10px 0;
  width: 180px;
}
