.pl-track-container {
  border-radius: 8px;
}

.pl-track-container-inner {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: .05fr repeat(8, 1fr);
  align-items: center;
  border-radius: 8px;
  height: 70px;
}

.pl-track-container-inner:hover {
  background-color: rgb(32, 32, 32);
  border-radius: 8px;
}

.track-num-container {
  grid-column-start: 1;
  width: 40px;
  text-align: center;
}

.track-details-container {
  grid-column-start: 2;
  grid-column-end: 5;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* padding-left: 10px; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.track-title-artist-container {
  overflow: hidden;
}

/* .track-num {
  margin: 0 20px 0 10px;
} */

.track-img img {
  height: 50px;
  padding: 14px 10px 10px 0;
}


.track-artists {
  font-size: 13px;
  display: flex;
}

.track-artist a {
  color: rgb(172, 172, 172)
}

.track-artist a:hover,
.track-album a:hover {
  text-decoration: underline;
}

.track-album {
  color: rgb(172, 172, 172);
  grid-column-start: 5;
  grid-column-end: 7;
  font-size: 13px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.track-album a {
  color: rgb(172, 172, 172);
}

.track-edit-container {
  position: relative;
  grid-column-start: 9;
  grid-column-end: 10;
  display: flex;
  justify-content: center;
  margin-left: 10px;
  align-items: center;
  color:rgb(189, 189, 189);
  font-size: 13px;
}

.tl-edit-menu,
.tl-edit-menu-not-user {
  position: absolute;
  right: 40px;
  display: flex;
  flex-direction: column;
  width: 120px;
  background-color: rgb(36, 36, 36);
  border-radius: 4px;
  padding: 5px;
}

.tl-edit-menu {
  height: 78px;
}

.tl-edit-menu-not-user {
  height: 40px;

}

.tl-delete-button button,
.tl-add-to-button button {
  background: none;
  border: none;
  color: rgb(238, 238, 238);
  font-family: 'Montserrat', sans-serif;
  font-size: 12.5px;
  font-weight: 500;
  width: 122px;
  text-align: left;
  height: 30px;
  align-content: center;
  margin: 4px 0;
}

.tl-delete-button:hover,
.tl-add-to-button:hover {
  background-color: rgb(44, 44, 44);
}

.track-edit {
  position: absolute;
  right: 25px;
}

.track-title {
  overflow: hidden;
}

.track-album p,
.track-title p,
.track-artists p {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

.track-video {
  grid-column-start: 7;
  grid-column-end: 8;
  text-align: center;
}

button.track-video-button {
  background: #1ed760;
  height: 40px;
  width: 80px;
  border: none;
  border-radius: 20px;
}

button.track-video-button:focus {
  outline: none;
}

button.track-video-button:disabled {
  background: grey;
  opacity: .2;
}

.fa-video {
  color: white;
  font-size: 18px;
}

.track-time {
  display: flex;
  grid-column-start: 9;
  grid-column-end: 10;
  justify-content: center;
  /* margin-right: 30px; */
}

.track-play-button,
.track-pause-button {
  background: none;
  border: none;
  font-size: 14px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  padding-right: 10px;
}

.ad-bottom-container.pl-bottom-container {
  top: -200px;
}

.atb.tb-add-box {
  position: absolute;
  right: 20px;
  background-color: rgb(36, 36, 36);
  z-index: 200;
}

.album-track-container,
.album-track-container-inner {
  height: 75px;
  grid-template-columns: .35fr repeat(8, 1fr);
}


.track-title-artist-container.artist-detail {
  padding-right: 20px;
  padding-left: 5px;
}

.track-num-plays.album-detail {
  color: rgb(197, 197, 197);
  font-size: 13px;
}

.track-num.album-detail,
.track-play-button.album-detail {
  padding-left: 15px;
  margin: 0;
}
