.tb-img img {
  position: relative;
  width: 180px;
  border-radius: 8px;
}

.tb-container {
  position: relative;
  padding: 16px;
  transition: all 0.2s ease-in-out;
  background-color: rgb(22, 22, 22);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  margin: 10px 5px;
  max-width: 180px;
}

.tb-container:hover {
  background-color: rgb(54, 54, 54);
  border-radius: 10px;
}

.tb-play-button {
  position: absolute;
  background: #1ed760;
  top: 145px;
  right: 25px;
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
}

.tb-add-song-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 26px;
  color:rgb(172, 172, 172)
}

.tb.fas.fa-play,
.tb.fas.fa-pause {
  color: white;
}

.tb-title {
  margin-top: 10px;
  font-weight: 600;
}

.tb-artists {
  display: flex;
  font-size: 12px;
  overflow: hidden;
  color: rgb(172, 172, 172)
}

.tb-artist a {
  margin: 2px 0;
  color: rgb(172, 172, 172)
}

.tb-artist a:hover {
  text-decoration: underline;
}

.tb-add-box-container {
  position: absolute;
  z-index: 200;
  top: 45px;
  right: 50px;
  background-color: rgb(36, 36, 36);
  border-radius: 4px;
}

.tb-add-box {
  font-size: 13px;
  font-weight: 500;
  color: rgb(190, 190, 190);
  padding: 10px 5px;
}

.tb-add-title {
  margin: 5px 5px 10px 5px;
  padding-bottom: 12px;
  border-bottom: thin solid rgba(190, 190, 190, .5);

}

.tb-add-pl {
  margin: 5px 0;
}

.tb-add-pl button {
  background: none;
  border: none;
  color: rgb(238, 238, 238);
  font-family: 'Montserrat', sans-serif;
  font-size: 12.5px;
  font-weight: 500;
  width: 132px;
  text-align: left;
  height: auto;
  align-content: center;
  margin: 4px 0;
}

.tb-add-pl:hover {
  background-color: rgb(44, 44, 44);
}
