.tb-img img {
  position: relative;
  width: 180px;
  border-radius: 10px;
}
/*
.track-container {
  position: relative;
  background-color: rgb(22, 22, 22);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  margin: 4px;
} */

.tb-container {
  position: relative;
  padding: 16px;
  transition: all 0.3s ease-in-out;
  background-color: rgb(22, 22, 22);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  margin: 4px;
}

.tb-container:hover {
  background-color: rgb(54, 54, 54);
  border-radius: 10px;

}

.tb-play-button {
  position: absolute;
  background: #1db954;
  top: 145px;
  right: 25px;
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
}

.tb.fas.fa-play {
  color: white;
}

.tb-artists {
  display: flex;
  font-size: 12px;
  overflow: hidden;
  color: rgb(172, 172, 172)
}

.tb-artist {
  margin-right: 4px;
}
