
.popular-container {
  display: flex;
  flex-direction: column;
  margin-left: 230px;
  padding-top: 40px;
  padding-left: 20px;
  /* margin-right: 40px; */
  /* padding: 40px; */
}

.popular-header {
  width: 100%;
  background-image: linear-gradient(rgba(15, 15, 15, 0), rgba(15, 15, 15, .2), rgb(15, 15, 15), rgb(15, 15, 15))
}

.popular-header h2 {
  z-index: 101;
}

.popular-songs-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 270px;
  overflow-y: hidden;
  background-color: rgb(15, 15, 15);
  padding-top: 30px;
  padding-right: 20px;
}
